.business-card{
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(139deg, #584b4f 50%, #343233 50.5%); */
    box-shadow: 0 7px 10px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    width: 550px;
    height: 300px;
    max-width: 100%;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.business-card .profile {
    display: flex;
    flex-basis: 150px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    background-color: #7bd5f5;
    color: white;
}

.business-card .profile .profile-image {
    background-image: url(file:///C:/Users/david/OneDrive/Documenten/HVA/Eerste%20week/your-tribe-profile-card-main/your-tribe-profile-card-main/Visite%20kaartje%202/man-profiel-cartoon_18591-58482.jpg);
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 120px;
}

.business-card .profile .profile-title {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.business-card .profile .profile-title h2 {
    font-size: 1.4em;
}

.business-card .info {
    display: flex;
    flex-grow: 1;
}

.business-card .info .info-contact{
    list-style: none;
}

.business-card .info .info-contact ul{
    list-style: none;
    padding: 15px;
}
    
.business-card .info .info-bio {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    text-align: center;
}