#kaart{
  width: 700px;
  margin: 100px auto;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 50px;
}

.hr{
  width: 400px; 
  height: 1px
}

.afbeelding{
  background-image: url('file:///C:/Users/david/OneDrive/Documenten/HVA/Eerste%20week/Visite%20kaartje/man-profiel-cartoon_18591-58482.jpg');
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  padding-top: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}